@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng</h1>
    <p>Đến với Mạng xã hội review về ẩm thực </p>
</div>
