@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center" style="background-image: url('/BannerImage/food-banner.jpg'); background-repeat: no-repeat; background-size: cover; padding:30px;">
    <h1 style="color:white" class="display-4">Chào mừng</h1>
    <p style="color:white">Đến với Mạng xã hội review về ẩm thực </p>
    
</div>

<div class="container text-center">
    <form method="get" class="search-form" asp-area="" asp-action="IndexPost" asp-controller="Home">
        <div class="form-outline" data-mdb-input-init>
            <h2 class="form-label" for="form1">Tìm kiếm bài viết</h2>
            <input type="search" name="searchString" placeholder="Tìm kiếm" id="form1" class="form-control" />
            <button class="btn btn-success" type="submit">Tìm</button>
        </div>
        
    </form>
    <div class="row">
        <div class="col-4">
            <h3>Tìm kiếm</h3>
            <p>Bạn hãy tìm kiếm bất kỳ các bài viết Review nào về ẩm thực</p>
        </div>
        <div class="col-4">
            <h3>Tạo bài viết mới</h3>
            <p>Nếu đã thưởng thức ẩm thực ở một chỗ nào đó. Hãy không ngần ngại và chia sẻ cho mọi người về bài viết Review của bạn</p>
        </div>
        <div class="col-4">
            <h3>Bình luận</h3>
            <p>Hãy đưa ra kinh nghiệm của bạn bằng cách bình luận và cho họ 1 Like.</p>
        </div>
    </div>
</div>
